In [535]:
import pandas as pd
import numpy as np

In [536]:
#Balance Sheet Data 

#Assets Data
Assetrows = ("Cash and equivalents", "Accounts receivable",
                     "Inventory", "Total current assets", "Net fixed assets",
                     "Total Assets") 
PreviousYearAssetData = (135,390,220,745,814,1559)
CurrentYearAssetData = (120,480,290,890,973,1863)

#Liability Data 
Liabilityrows = ("Accounts Payable","Notes Payable", "Accrued Liabilities", 
                  "Total Current Liabilities", "Long-term Debt")
PreviousYearLiabilityData = (150,27,30,207,560)
CurrentYearLiabilityData = (115,25,35,175,652) 

#Equity Data 
Equityrows = ("Common Stock", "Retained Earnings", "Total Equity", 
               "Total Liabilities and Stockholder Equity")
PreviousYearEquityData = (280,512,792,1559)
CurrentYearEquityData = (280,756,1036,1863)

In [537]:
#Combine row names into one list
Rownames = (Assetrows + Liabilityrows + Equityrows)
#Rownames = np.array(Rownames).reshape(1,15)
Rownames

('Cash and equivalents',
 'Accounts receivable',
 'Inventory',
 'Total current assets',
 'Net fixed assets',
 'Total Assets',
 'Accounts Payable',
 'Notes Payable',
 'Accrued Liabilities',
 'Total Current Liabilities',
 'Long-term Debt',
 'Common Stock',
 'Retained Earnings',
 'Total Equity',
 'Total Liabilities and Stockholder Equity')

In [538]:
#Combine Previous Year Data into One List
Previous_Year = (PreviousYearAssetData + PreviousYearLiabilityData + PreviousYearEquityData)
#Previous_Year = np.array(Previous_Year).reshape(1,15)
Previous_Year

(135, 390, 220, 745, 814, 1559, 150, 27, 30, 207, 560, 280, 512, 792, 1559)

In [539]:
#Combine Current Year Data into One List 
Current_Year = (CurrentYearAssetData + CurrentYearLiabilityData + CurrentYearEquityData)
#Current_Year = np.array(Current_Year).reshape(1,15)
Current_Year

(120, 480, 290, 890, 973, 1863, 115, 25, 35, 175, 652, 280, 756, 1036, 1863)

In [540]:
#Create a Balance Sheet Matrix 
Balancesheet = np.concatenate((Rownames, Previous_Year ,Current_Year)).reshape((15,3),order = "F")
print(Balancesheet)

[['Cash and equivalents' '135' '120']
 ['Accounts receivable' '390' '480']
 ['Inventory' '220' '290']
 ['Total current assets' '745' '890']
 ['Net fixed assets' '814' '973']
 ['Total Assets' '1559' '1863']
 ['Accounts Payable' '150' '115']
 ['Notes Payable' '27' '25']
 ['Accrued Liabilities' '30' '35']
 ['Total Current Liabilities' '207' '175']
 ['Long-term Debt' '560' '652']
 ['Common Stock' '280' '280']
 ['Retained Earnings' '512' '756']
 ['Total Equity' '792' '1036']
 ['Total Liabilities and Stockholder Equity' '1559' '1863']]

In [541]:
#Convert Balance Sheet Matrix into a Data Frame
Balancesheet = pd.DataFrame(Balancesheet)
Balancesheet.columns = ("Element", "Previous Year", "Current Year")
Balancesheet = Balancesheet.drop(columns = "Element")
Balancesheet.index = list(Rownames)  #Changes the name of the row indexes 
Balancesheet

                                         Previous Year Current Year
Cash and equivalents                               135          120
Accounts receivable                                390          480
Inventory                                          220          290
Total current assets                               745          890
Net fixed assets                                   814          973
Total Assets                                      1559         1863
Accounts Payable                                   150          115
Notes Payable                                       27           25
Accrued Liabilities                                 30           35
Total Current Liabilities                          207          175
Long-term Debt                                     560          652
Common Stock                                       280          280
Retained Earnings                                  512          756
Total Equity                                       792         1036
Total Liabilities and Stockholder Equity          1559         1863

In [542]:
#Create Function to calculate financial ratios
def financialratioscalc(CA,CL,Inventory,EBIT,Interest_Expense,TA,TD,TE,
                        Sales,Net_Income,Gross_Profit,
                        Market_Price,Shares,Earnings_Per_Share):
    Current_Ratio = CA/CL
    Quick_Ratio = (CA-Inventory)/CL
    Interest_Coverage_Ratio = EBIT/Interest_Expense    
    Debt_Ratio = TD/TA
    Debt_Equity_Ratio = TD/TE
    Equity_Multiplier = TA/TE
    Total_Asset_Turnover = Sales/TA
    Profit_Margin = Net_Income/Sales
    Gross_Profit_Margin = Gross_Profit/Sales
    Operating_Profit_Margin = EBIT/Sales
    Return_On_Assets = Net_Income/TA
    Return_On_Equity = Net_Income/TE
    PE_Ratio = Market_Price/Earnings_Per_Share
    RatioNames = ("Current Ratio", "Quick Ratio", "Interest Coverage Ratio",
                 "Debt Ratio","Debt-Equity Ratio","Equity Multiplier",
                 "Total Asset Turnover", "Profit Margin", "Gross Profit Margin",
                 "Operating Profit Margin","Return on Assets","Return on Equity","PE Ratio")
    Ratios = [Current_Ratio,Quick_Ratio,Interest_Coverage_Ratio,
              Debt_Ratio,Debt_Equity_Ratio,Equity_Multiplier,
              Total_Asset_Turnover,Profit_Margin,Gross_Profit_Margin,
              Operating_Profit_Margin,Return_On_Assets,Return_On_Equity,
              PE_Ratio]
    Ratios = np.round(Ratios,2)
    Financial_Ratios = np.concatenate([RatioNames,Ratios]).reshape(13,2, order = "F")
    Financial_Ratios = pd.DataFrame(Financial_Ratios)
    Financial_Ratios.columns = ("Type","Ratio")
    print(Financial_Ratios)

In [543]:
#Current Year Income Sheet Data 
Sales = 2895
COGS = 1530
Other_operating_expenses = 558
Depreciation = 200
EBIT = 607
Interest_expense = 87
Pretax_income = 20
Taxes = 114
Net_income = 406  

#Market Data 
Shares_Outstanding_Previous_Year = 200
Shares_Outstanding_Current_Year = 200
Market_Price_Per_Share_Previous_Year = 29
Market_Price_Per_Share_Current_Year = 32.5  


Balancesheet

                                         Previous Year Current Year
Cash and equivalents                               135          120
Accounts receivable                                390          480
Inventory                                          220          290
Total current assets                               745          890
Net fixed assets                                   814          973
Total Assets                                      1559         1863
Accounts Payable                                   150          115
Notes Payable                                       27           25
Accrued Liabilities                                 30           35
Total Current Liabilities                          207          175
Long-term Debt                                     560          652
Common Stock                                       280          280
Retained Earnings                                  512          756
Total Equity                                       792         1036
Total Liabilities and Stockholder Equity          1559         1863

In [544]:
#Run Function
Financial_Ratios = financialratioscalc(890,175,290,607,87,1863,175+652,1036,
                        2895,406,Sales-COGS,
                        32.5,200,Net_income/Shares_Outstanding_Current_Year)
Financial_Ratios

                       Type  Ratio
0             Current Ratio   5.09
1               Quick Ratio   3.43
2   Interest Coverage Ratio   6.98
3                Debt Ratio   0.44
4         Debt-Equity Ratio    0.8
5         Equity Multiplier    1.8
6      Total Asset Turnover   1.55
7             Profit Margin   0.14
8       Gross Profit Margin   0.47
9   Operating Profit Margin   0.21
10         Return on Assets   0.22
11         Return on Equity   0.39
12                 PE Ratio  16.01